<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/icon.png" type="image/x-icon">
    <title>Divertidamente</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <section class="ctPrincipal">
        <header>
            <img src="../../assets/logo.png" alt="logo Divertidamente" class="logo">
            <nav>
                <ul class="navbar">
                  <li>
                    <div class="select">
                      <div class="selected">
                        <a href="../../index.html">Home</a>
                      </div>
                      
                  </li>
                  <li>
                      <div class="select">
                        <div class="selected">
                          Filmes
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox="0 0 512 512"
                            class="arrow"
                          >
                            <path
                              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path>
                          </svg>
                        </div>
                        <div class="options">
                          <a href="../../components/filme1.html" class="option" data-txt="Divertidamente 1"></a>
                          <a href="../../components/filme2.html" class="option" data-txt="Divertidamente 2"></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="select">
                        <div class="selected">
                          Personagens
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox="0 0 512 512"
                            class="arrow"
                          >
                            <path
                              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path>
                          </svg>
                        </div>
                        <div class="options">
                            <a href="alegria.html" class="option" data-txt="Alegria"></a>
                            <a href="ansiedade.html" class="option" data-txt="Ansiedade"></a>
                            <a href="inveja.html" class="option" data-txt="Inveja"></a>
                            <a href="medo.html" class="option" data-txt="Medo"></a>
                            <a href="nojinho.html" class="option" data-txt="Nojinho"></a>
                            <a href="raiva.html" class="option" data-txt="Raiva"></a>
                            <a href="tedio.html" class="option" data-txt="Tédio"></a>
                            <a href="tristeza.html" class="option" data-txt="Tristeza"></a>
                            <a href="vergonha.html" class="option" data-txt="Vergonha"></a>
                          </div>
                      </div>
                    </li>
                    <li>
                      <div class="select">
                        <div class="selected">
                          Imagens
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox="0 0 512 512"
                            class="arrow"
                          >
                            <path
                              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path>
                          </svg>
                        </div>
                        <div class="options">
                          <a href="../../components/imagens.html" class="option" data-txt="Imagens"></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="select">
                        <div class="selected">
                          Comunidade
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox="0 0 512 512"
                            class="arrow"
                          >
                            <path
                              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path>
                          </svg>
                        </div>
                        <div class="options">
                          <a href="../../components/regras.html" class="option" data-txt="Regras Gerais"></a>
                          <a href="../../components/sobre.html" class="option" data-txt="Sobre nós"></a>
                        </div>
                      </div>
                    </li>
              </ul>
            </nav>
        </header>
        <main>
          <section class="personagem"><!--
            <h1>Alegria</h1>
            <h2>Sobre</h2><hr>
            <h3>Lorem ipsum dolor sit, 
              amet consectetur adipisicing elit. 
              Laudantium voluptas ipsum repellendus ipsa
              inventore perspiciatis amet sequi tempora, 
              amet consectetur adipisicing elit. 
              Laudantium voluptas ipsum repellendus ipsa
              inventore perspiciatis amet sequi tempora, 
              esse enim pariatur. Sit eveniet ullam dignissimos 
              laboriosam ducimus delectus quasi adipisci!</h3><br>
            <h2>Características</h2><hr>
            <h3>Lorem ipsum, dolor sit amet consectetur 
              adipisicing elit. Nisi a recusandae atque hic, 
              nesciunt eligendi possimus dolorum porro modi nam. 
              Repellendus repudiandae id molestias, maiores quis
              nulla temporibus beatae cupiditate.</h3>--><br><br>

            <table class="tab-personagem" Border="1">
                <tr>
                    <td class="principal">Alegria</td>
                </tr>
                <tr>
                  <td class="principal">Informações</td>
                </tr>
                <tr>
                    <td><span>Filmes: </span>
                      <ul class="lista-tab">
                        <li>Divertidamente</li>
                        <li>Divertidamente 2</li>
                      </ul>
                    </td>
                </tr>
                <tr>
                  <td><span>Dubladores</span>
                    <ul class="lista-tab">
                      <li>Amy Poehle</li>
                      <li>Miá Mello</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><span>Animadores: </span>Pete Docter</td>
                </tr>

                <tr>
                  <td class="principal">Gostos</td>
                </tr>
                <tr>
                    <td><span>Gosta: </span>diversão</td>
                </tr>
                <tr>
                    <td><span>Não gosta: </span>da tristeza</td>
                </tr>

                <tr>
                  <td class="principal">Adicionais</td>
                </tr>
                <tr>
                  <td><span>Cor tema: </span>amarelo</td>
                </tr>
                <tr>
                  <td><span>Inspirações: </span>estrela, Audrey Hepburn, Sininho</td>
                </tr>
                <tr>
                  <td><span>Personalidade: </span>alegre, positiva, animada</td>
                </tr>
            </table><br>

            <h2>Aparência</h2><hr>
            <h3>Lorem ipsum, dolor sit amet consectetur 
              adipisicing elit. Nisi a recusandae atque hic, 
              nesciunt eligendi possimus dolorum porro modi nam. 
              Repellendus repudiandae id molestias, maiores quis
              nulla temporibus beatae cupiditate.</h3>
        </main>
    </section>
</body>
</html>