<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/icon.png" type="image/x-icon">
    <title>Divertidamente</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <section class="ctPrincipal">
        <header>
            <img src="../../assets/logo.png" alt="logo Divertidamente" class="logo">
            <nav>
                <ul class="navbar">
                  <li>
                    <div class="select">
                      <div class="selected">
                        <a href="../../index.html">Home</a>
                      </div>
                      
                  </li>
                  <li>
                      <div class="select">
                        <div class="selected">
                          Filmes
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox="0 0 512 512"
                            class="arrow"
                          >
                            <path
                              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path>
                          </svg>
                        </div>
                        <div class="options">
                          <a href="../../components/filme1.html" class="option" data-txt="Divertidamente 1"></a>
                          <a href="../../components/filme2.html" class="option" data-txt="Divertidamente 2"></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="select">
                        <div class="selected">
                          Personagens
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox="0 0 512 512"
                            class="arrow"
                          >
                            <path
                              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path>
                          </svg>
                        </div>
                        <div class="options">
                            <a href="alegria.html" class="option" data-txt="Alegria"></a>
                            <a href="ansiedade.html" class="option" data-txt="Ansiedade"></a>
                            <a href="inveja.html" class="option" data-txt="Inveja"></a>
                            <a href="medo.html" class="option" data-txt="Medo"></a>
                            <a href="nojinho.html" class="option" data-txt="Nojinho"></a>
                            <a href="raiva.html" class="option" data-txt="Raiva"></a>
                            <a href="tedio.html" class="option" data-txt="Tédio"></a>
                            <a href="tristeza.html" class="option" data-txt="Tristeza"></a>
                            <a href="vergonha.html" class="option" data-txt="Vergonha"></a>
                          </div>
                      </div>
                    </li>
                    <li>
                      <div class="select">
                        <div class="selected">
                          Imagens
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox="0 0 512 512"
                            class="arrow"
                          >
                            <path
                              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path>
                          </svg>
                        </div>
                        <div class="options">
                          <a href="../../components/imagens.html" class="option" data-txt="Imagens"></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="select">
                        <div class="selected">
                          Comunidade
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox="0 0 512 512"
                            class="arrow"
                          >
                            <path
                              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path>
                          </svg>
                        </div>
                        <div class="options">
                          <a href="../../components/regras.html" class="option" data-txt="Regras Gerais"></a>
                          <a href="../../components/sobre.html" class="option" data-txt="Sobre nós"></a>
                        </div>
                      </div>
                    </li>
              </ul>
            </nav>
            <nav class="menu">
              <ul>
                  <li><a href="../../index.html">Home</a></li>
                  <li>
                      <a href="#">Filmes</a>
                      <ul class="submenu">
                          <li><a href="../../components/filme1.html">Divertidamente 1</a></li>
                          <li><a href="../../components/filme2.html">Divertidamente 2</a></li>
                      </ul>
                  </li>
                  <li><a href="#">Personagens</a>
                    <ul class="submenu">
                      <li><a href="emocoes/alegria.html">Alegria</a></li>
                      <li><a href="emocoes/ansiedade.html">Ansiedade</a></li>
                      <li><a href="emocoes/inveja.html">Inveja</a></li>
                      <li><a href="emocoes/medo.html">Medo</a></li>
                      <li><a href="emocoes/nojinho.html">Nojinho</a></li>
                      <li><a href="emocoes/raiva.html">Raiva</a></li>
                      <li><a href="emocoes/tedio.html">Tédio</a></li>
                      <li><a href="emocoes/tristeza.html">Tristeza</a></li>
                      <li><a href="emocoes/vergonha.html">Vergonha</a></li>
                  </ul>
                  </li>
                  <li><a href="../../components/imagens.html">Imagens</a></li>
                  <li><a href="#">Comunidade</a>
                    <ul class="submenu">
                      <li><a href="../../components/regras.html">Regras Gerais</a></li>
                        <li><a href="../../components/sobre.html">Sobre Nós</a></li> </ul>
                  </li>
              </ul>
          </nav>
          <script>
            document.addEventListener('DOMContentLoaded', function() {
                const menuToggle = document.createElement('div');
                menuToggle.classList.add('menu-toggle');
                menuToggle.textContent = 'Menu';
    
                document.querySelector('.menu').insertBefore(menuToggle, document.querySelector('.menu ul'));
    
                menuToggle.addEventListener('click', function() {
                    const menu = document.querySelector('.menu ul');
                    menu.classList.toggle('show');
                });
    
                const submenuToggles = document.querySelectorAll('.menu ul li > a');
                submenuToggles.forEach(toggle => {
                    toggle.addEventListener('click', function(event) {
                        const submenu = this.nextElementSibling;
                        if (submenu && submenu.classList.contains('submenu')) {
                            event.preventDefault();
                            submenu.classList.toggle('show');
                        }
                    });
                });
            });
        </script>
        </header>
        <main>
          <section class="personagem">
            <h1>Medo</h1><br>
            <section class="media">
              <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/2024/06/medo.jpg?w=720" alt="">
                    </div>
                    <div class="flip-card-back">
                        <img src="https://i0.wp.com/essenciaexponencial.com.br/wp-content/uploads/2023/11/personagem-medo.jpg?resize=398%2C500&ssl=1" alt="joy">
                    </div>
                </div>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LWtqKMeBfcc?si=6oZIHJLL7IWbeHXE&autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </section>
            <h2>Sobre</h2><hr>
            <h3> O Medo representa o traço de caráter esquizoide e o seu maior medo é o de ser rejeitado.</h3><br>
            <h2>Características</h2><hr>
            <h3> Representa a emoção do medo. É ansioso, nervoso e constantemente preocupado com os perigos potenciais. Seu papel é manter Riley segura, antecipando e evitando riscos.</h3><br><br>

            <table class="tab-personagem" Border="1">
                <tr>
                    <td class="medo">Medo</td>
                </tr>
                <tr>
                  <td class="medo">Informações</td>
                </tr>
                <tr>
                    <td><span>Filmes: </span>
                      <ul class="lista-tab">
                        <li>Divertidamente</li>
                        <li>Divertidamente 2</li>
                      </ul>
                    </td>
                </tr>
                <tr>
                  <td><span>Dubladores</span>
                    <ul class="lista-tab">
                      <li>Tony Hale</li>
                      <li>Otaviano Costa</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><span>Animadores: </span>Pete Docter</td>
                </tr>

                <tr>
                  <td class="medo">Gostos</td>
                </tr>
                <tr>
                    <td><span>Gosta: </span>ter medo</td>
                </tr>
                <tr>
                    <td><span>Não gosta: </span>coragem</td>
                </tr>

                <tr>
                  <td class="medo">Adicionais</td>
                </tr>
                <tr>
                  <td><span>Cor tema: </span>roxo</td>
                </tr>
                <tr>
                  <td><span>Inspirações: </span>estrela, Audrey Hepburn, Sininho</td>
                </tr>
                <tr>
                  <td><span>Personalidade: </span>medroso</td>
                </tr>
            </table><br>

            <h2>Aparência</h2><hr>
            <h3>Alto e magro, com pele roxa clara e cabelo escuro ondulado. Usa uma camisa branca com um colete de padrão xadrez e uma gravata borboleta.</h3><br><br>
        </main>
</body>
</html>