@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400; 
}
header{
    height: 15vh;
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width: 10vw;
}
nav{
    width: 60vw;
    height: 5vh;
    color: white;
    padding-inline: 10px;
}
nav a{color: inherit;text-decoration: none;}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav li{
    list-style: none;
}

body{
    height: 100vh;
    background-image: url(assets/capa.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
   padding-inline: 15vw;
}
main{
    background-color: white;
    width: 70vw;
    height: 90vh;
}
.navbar {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding-right: 10px;
}

.select {
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: 300ms;
  color: white;
  overflow: hidden;
}

.selected {
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: white;
  z-index: 100000;
  transition: 300ms;
}

.options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #2a2f3b;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: #2a2f3b;
  width: 150px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  display: inline-block;
}

.option:hover {
  background-color: #323741;
}

.option::before {
  content: attr(data-txt);
}

.menu{display: none;}
@media (max-width: 768px) {
  body{
    background-image: none;
    background-color: wheat;
    padding-inline: 0vw;
  }
  header{width: 100vw;}
  nav{
    display: none;
  }
  main{width: 100vw;}
  .menu{display: block;}
  .logo{width: 25vw;}
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu > ul {
    background-color: #333;
}

.menu ul li {
    position: relative;
}

.menu ul li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.menu ul li:hover > a {
    background-color: #555;
}

.menu .submenu {
    display: none;
    background-color: #333;
}

.menu ul li:hover > .submenu {
    display: block;
}

.menu .submenu ul {
    display: none;
    background-color: #333;
}

.menu .submenu li:hover > .submenu {
    display: block;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .menu ul {
        display: none;
    }

    .menu ul.show {
        display: block;
    }

    .menu ul li {
        width: 100%;
    }

    .menu .submenu {
        position: static;
    }

    .menu .submenu ul {
        position: static;
    }

    .menu .submenu.show {
        display: block;
    }
}

.menu-toggle {
    display: none;
    padding: 15px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
}

.container {
  display: flex;
  gap: 10px; /* Ajuste o valor de acordo com o espaçamento desejado */
  display: flex;
  justify-content: center;
  align-items: center;
}
.caixa {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: rgba(48, 0, 95, 0.641); /* Corrigido rgba */
  border-radius: 50%;
  overflow: hidden;
}
.caixa::before {
  content: '';
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg, #fbff00, #00e1ff);
  transition: 0.5s;
  animation: animar 4s linear infinite;
}
@keyframes animar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.caixa:hover::before {
  inset: -20px 0px;
}
.caixa::after {
  content: '';
  position: absolute;
  inset: 6px;
  background: rgba(75, 6, 144, 0.445); /* Ajuste a opacidade conforme necessário */
  border-radius: 50%;
  z-index: 1;
  backdrop-filter: blur(10px); /* Ajuste o valor do desfoque conforme necessário */
}
.conteudo {
  position: absolute;
  inset: 30px;
  border: 6px solid rgba(61, 2, 120, 0.445);
  z-index: 2;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.conteudo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.5s;
}
.caixa:hover .conteudo img {
  opacity: 0;
  transform: scale(1.1);
  transition: 1s;
}
.conteudo p {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.comunidade h1{
  font-family: "truculenta", sans-serif;
  text-align: center;
  font-size: 50px;
  padding-top: 15px;
}

.comunidade h3{
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
}

.indice p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  margin: 0; /* Remova margens externas para evitar espaços adicionais */
  padding-bottom: 10px; /* Ajuste o preenchimento interno */
  padding-top: 10px;
  padding-left: 5px;
  font-weight: bold;
}

.indice ol {
  border: solid 2px;
  padding-left: 35px; /* Ajuste o preenchimento interno */
  padding-right: 20px;
  margin-left: 33%; /* Ajuste a margem para controlar o espaçamento ao redor */
  margin-right: 32%;
  width: auto; /* Deixe a largura automática para se ajustar ao conteúdo */
}

.indice li {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  padding-left: 5px; /* Mantenha um pequeno preenchimento à esquerda dos itens */
  margin-bottom: 5px; /* Margem inferior para espaçar os itens */
  text-align: justify;
  margin-left: 0; /* Remova a margem esquerda */
}

.cont-regras h2{
  font-family: 'Times New Roman', Times, serif;
  padding-left: 30px;
  font-weight: bold;
}

hr {
  width: 95%; /* Define a largura da linha horizontal para 50% do contêiner pai */
  margin: 20px auto; /* Centraliza a linha horizontal */
}

.cont-regras h3 li{
  font-family: 'Times New Roman', Times, serif;
  margin-left: 20px;
  margin-right: 20px;
}

.cont-regras h3 span{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: justify;
}


.personagem h1{
  font-family: "truculenta", sans-serif;
  text-align: center;
  font-size: 50px;
  padding-top: 15px;
}

.personagem h2{
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 30px;
}

.personagem h3{
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
}

.tab-personagem{
  margin-left: 40%;
  margin-right: 42%;
  border-collapse: separate;
  border-spacing: 0; 
  border-radius: 15px; 
  overflow: hidden;
  border: 1px solid black; 
}

.tab-personagem .principal{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  padding-left: 80px;
  padding-right: 90px;
  background-color: #fbff00;
  border: 1px solid black;
}

.tab-personagem td{
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  padding-left: 10px;
  border: 1px solid black;
}

.tab-personagem td span{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: left;
}

.lista-tab {
  padding-left: 0;
  margin-left: 10px;
  list-style-position: inside; 
}

.tab-personagem .lista-tab li{
  font-family: 'Times New Roman', Times, serif;
  padding-left: 10px;
}

