<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/icon.png" type="image/x-icon">
    <title>Divertidamente</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <section class="ctPrincipal">
        <header>
            <img src="../assets/logo.png" alt="logo Divertidamente" class="logo">
            <nav>
                <ul class="navbar">
                  <li>
                    <div class="select">
                      <div class="selected">
                        <a href="../index.html">Home</a>
                      </div>
                      
                  </li>
                  <li>
                      <div class="select">
                        <div class="selected">
                          Filmes
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox="0 0 512 512"
                            class="arrow"
                          >
                            <path
                              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path>
                          </svg>
                        </div>
                        <div class="options">
                          <a href="../components/filme1.html" class="option" data-txt="Divertidamente 1"></a>
                          <a href="../components/filme2.html" class="option" data-txt="Divertidamente 2"></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="select">
                        <div class="selected">
                          Personagens
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox="0 0 512 512"
                            class="arrow"
                          >
                            <path
                              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path>
                          </svg>
                        </div>
                        <div class="options">
                          <a href="../components/emocoes/alegria.html" class="option" data-txt="Alegria"></a>
                          <a href="../components/emocoes/ansiedade.html" class="option" data-txt="Ansiedade"></a>
                          <a href="../components/emocoes/inveja.html" class="option" data-txt="Inveja"></a>
                          <a href="../components/emocoes/medo.html" class="option" data-txt="Medo"></a>
                          <a href="../components/emocoes/nojinho.html" class="option" data-txt="Nojinho"></a>
                          <a href="../components/emocoes/inveja.html" class="option" data-txt="Inveja"></a>
                          <a href="../components/emocoes/raiva.html" class="option" data-txt="Raiva"></a>
                          <a href="../components/emocoes/tedio.html" class="option" data-txt="Tédio"></a>
                          <a href="../components/emocoes/tristeza.html" class="option" data-txt="Tristeza"></a>
                          <a href="../components/emocoes/vergonha.html" class="option" data-txt="Vergonha"></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="select">
                        <div class="selected">
                          Imagens
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox="0 0 512 512"
                            class="arrow"
                          >
                            <path
                              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path>
                          </svg>
                        </div>
                        <div class="options">
                          <a href="../components/imagens.html" class="option" data-txt="Imagens"></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="select">
                        <div class="selected">
                          Comunidade
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox="0 0 512 512"
                            class="arrow"
                          >
                            <path
                              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                            ></path>
                          </svg>
                        </div>
                        <div class="options">
                          <a href="../components/regras.html" class="option" data-txt="Regras Gerais"></a>
                          <a href="../components/sobre.html" class="option" data-txt="Sobre nós"></a>
                        </div>
                      </div>
                    </li>
              </ul>
            </nav>
            <nav class="menu">
              <ul>
                  <li><a href="../index.html">Home</a></li>
                  <li>
                      <a href="#">Filmes</a>
                      <ul class="submenu">
                          <li><a href="../components/filme1.html">Divertidamente 1</a></li>
                          <li><a href="../components/filme2.html">Divertidamente 2</a></li>
                      </ul>
                  </li>
                  <li><a href="#">Personagens</a>
                    <ul class="submenu">
                      <li><a href="../components/emocoes/alegria.html">Alegria</a></li>
                      <li><a href="../components/emocoes/ansiedade.html">Ansiedade</a></li>
                      <li><a href="../components/emocoes/inveja.html">Inveja</a></li>
                      <li><a href="../components/emocoes/medo.html">Medo</a></li>
                      <li><a href="../components/emocoes/nojinho.html">Nojinho</a></li>
                      <li><a href="../components/emocoes/raiva.html">Raiva</a></li>
                      <li><a href="../components/emocoes/tedio.html">Tédio</a></li>
                      <li><a href="../components/emocoes/tristeza.html">Tristeza</a></li>
                      <li><a href="../components/emocoes/vergonha.html">Vergonha</a></li>
                  </ul>
                  </li>
                  <li><a href="../components/imagens.html">Imagens</a></li>
                  <li><a href="#">Comunidade</a>
                    <ul class="submenu">
                      <li><a href="../components/regras.html">Regras Gerais</a></li>
                        <li><a href="../components/sobre.html">Sobre Nós</a></li> </ul>
                  </li>
              </ul>
          </nav>
          <script>
            document.addEventListener('DOMContentLoaded', function() {
                const menuToggle = document.createElement('div');
                menuToggle.classList.add('menu-toggle');
                menuToggle.textContent = 'Menu';
    
                document.querySelector('.menu').insertBefore(menuToggle, document.querySelector('.menu ul'));
    
                menuToggle.addEventListener('click', function() {
                    const menu = document.querySelector('.menu ul');
                    menu.classList.toggle('show');
                });
    
                const submenuToggles = document.querySelectorAll('.menu ul li > a');
                submenuToggles.forEach(toggle => {
                    toggle.addEventListener('click', function(event) {
                        const submenu = this.nextElementSibling;
                        if (submenu && submenu.classList.contains('submenu')) {
                            event.preventDefault();
                            submenu.classList.toggle('show');
                        }
                    });
                });
            });
        </script>
        </header>
        <main>
          <section class="filme">
            <h1>Divertidamente 2</h1><br>
            <section class="media">
              <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://th.bing.com/th/id/OIP.VDjf8LBbxa7pdu45uHgxoQAAAA?rs=1&pid=ImgDetMain" alt="">
                    </div>
                    <div class="flip-card-back">
                        <img src="https://s2-crescer.glbimg.com/4zQfRc319a6UuURQY3CrqNvmqgw=/0x0:4500x5625/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_19863d4200d245c3a2ff5b383f548bb6/internal_photos/bs/2024/c/k/67XPwBTO2ArUwYT5nXow/divertida-mente-2.jpg" alt="poster do filme">
                    </div>
                </div>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/yAZxx8t9zig?si=QyQVsxWj7YiqpeMS&autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </section>
            <h2>Sinopse</h2><hr>
            <h3>Divertidamente 2 marca a sequência da famosa história de Riley. Com um salto temporal, a garota agora se encontra mais velha, com 13 anos de idade, passando pela tão temida pré-adolescência. Junto com o amadurecimento, a sala de controle mental da jovem também está passando por uma demolição para dar lugar a algo totalmente inesperado: novas emoções. As já conhecidas, Alegria, Tristeza, Raiva, Medo e Nojinho, que desde quando Riley é bebê, eles predominam a central de controle da garota em uma operação bem-sucedida, tendo algumas falhas no percurso como foi apresentado no primeiro filme. As antigas emoções não têm certeza de como se sentir e com agir quando novos inquilinos chegam ao local, sendo um deles a tão temida Ansiedade. Inveja, Tédio e Vergonha integrarão juntos com a Ansiedade na mente de Riley, assim como a Nostalgia que aparecerá também.</h3><br>
            <h2>Sobre</h2><hr>
            <h3>A produção de ‘Divertidamente 2’ começou com a ideia de explorar ainda mais as emoções das personagens principais. O roteiro foi escrito por um time de roteiristas experientes que trabalharam juntos para garantir que a história fosse coerente e envolvente. Durante o processo de desenvolvimento do roteiro, os produtores consultaram especialistas em psicologia infantil para garantir que as emoções das personagens fossem retratadas de maneira precisa e responsável.</h3><br>
            <h3>A trilha sonora de “Filme Divertidamente 2” é composta por Michael Giacchino, que também compôs a trilha sonora do primeiro filme. Giacchino é um renomado compositor de trilhas sonoras, tendo trabalhado em diversos outros filmes, como “Up – Altas Aventuras”, “Jurassic World”, “Os Incríveis” e “Ratatouille”.</h3><br>
            <h2>Crítica</h2><hr>
            <h3>Em Divertida Mente 2, novamente viajamos para a mente de Riley, que agora tem 13 anos e se tornou uma adolescente. Alegria aprendeu a dividir melhor as funções ao lado de seus amigos: Tristeza, Nojinho, Raiva e Medo. Ela parece ter o controle da situação, mas tudo se transforma em caos novamente quando novas emoções surgem na sala de comando. Liderando o grupo de novatos está a Ansiedade, uma figura laranja e doidinha, determinada a planejar o futuro de Riley, mas sempre pensando no lado negativo das coisas.</h3><br>
            <h3>Nada é simples no universo de Divertida Mente. Tudo tem camadas. Alegria também tem seus momentos de frustração, Ansiedade tem boas intenções, mas nem tudo é perfeito nesse mundo. Por um lado, temos momentos bem emocionantes em relação à crises de ansiedade ou uma literal onda de memórias negativas que te afoga. Mas não tem o mesmo impacto brutal (ou trauma mesmo) que Bing Bong criou no primeiro filme.</h3><br>
            <h3>Nessa altura do campeonato, você já espera que algo dê errado em algum momento. Afinal, todo filme tem um clímax. O que não ajuda é que a base de Divertida Mente 2 segue os mesmos passos do filme anterior: Alegria discorda com alguém, sai da sala de controle e precisa dar um jeito de voltar para lá, antes que emoções perdidas estraguem a vida de Riley.</h3><br>
            <h2>Bilheteria</h2><hr>
            <h3>"Divertida Mente 2" se tornou a maior arrecadação em bilheterias da história no Brasil ao atingir a marca de quase R$ 362 milhões em sua quarta semana em exibição no país. Com isso, a animação superou "Vingadores: Ultimato", que reinava no topo da lista desde 2019 com quase R$ 339 milhões. Em terceiro lugar está "Homem-Aranha: Sem volta para casa", com pouco mais de R$ 307 milhões. Em número de público, no entanto, a animação da Pixar continua na terceira posição com pouco mais de 18 milhões de espectadores. O filme de heróis da Marvel mantém a liderança deste ranking, com 19,7 milhões de pessoas. "Titanic" (1997) fica em segundo, com 19,2 milhões.</h3><br>
            <br><br>
          </section>
        </main>
    </section>
</body>
</html>
